.App {
  /*text-align: center;*/
}

.AppHeader {
  display: flex;
  color: blanchedalmond;
  border: 1px solid black;
  background-color: #282c34;
}
.AppHeader > div {
  /*background-color: #4a00e0;*/
  padding: 10px;
}
.AppHeader > div:nth-child(3) {
  margin-left: auto;
}

.flexContainer {
  border: 10px solid #7f00ff;
}

.flexItem {
  /*padding: 10px;*/
  font: 900 20px "Roboto", sans-serif;
  color: #fff;
  text-align: center;
  text-shadow: 4px 2px 0 rgba(0, 0, 0, 0.2);
}


.item1 {
  background-image: linear-gradient(45deg, #ff8177, #cf556c);
}

.item2 {
  background: linear-gradient(45deg, #84fab0, #8fd3f4);
}

.item3 {
  background: linear-gradient(45deg, #a6c0fe, #f68084);
}

.item4 {
  background: linear-gradient(45deg, #1b31de, #36c4ac);
}

.item5 {
  background: linear-gradient(45deg, #43e97b, #38f9d7);
}

.item6 {
  background: linear-gradient(45deg, #a18cd1, #fbc2eb);
}

.item7 {
  background: linear-gradient(45deg, #8e2de2, #4a00e0);
}

.item8 {
  background: linear-gradient(45deg, #ace51b, #f05053);
}

/* Custom styles */
.flexContainer {
  /*flex-direction: column;*/
  display: flex;
  min-height: 100vh;
  align-contetns: center;
  flex-wrap: wrap;
  /*align-items: stretch | flex-start | flex-end | center | baseline | first baseline | last baseline | start | end | self-start | self-end + ... safe | unsafe;*/
}

.flexItem {
  width: 150px;
}


@media screen and (max-width: 650px) {
  .flexContainer {
    flex-direction: column;
  }
  .App {
    text-align: center;
  }
}




